html,body{
    margin: 0px;
    width:100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containeralpha{
max-width: 1920px;    
}
.containerbeta{
    max-width: 1920px;
    height: 0px;
    
}
/* #rectangle1{
position: absolute;
width: 17.552083333333332%;
height: 40.09259259259259%;
left: 0%;
top: 27px;
z-index: -2;
background: rgba(138, 222, 155, 0.2);
}

#rectangle2{

position: absolute;
width: 11.197916666666668%;
height: 25.64814814814815%;
left: 62.291666666666664%;
top: 157px;
z-index: -2;
background: rgba(138, 222, 155, 0.2);

}

#rectangle3{
z-index: -2;
position: absolute;
width: 15.102083333333332%;
height: 40.27777777777778%;
left: 84.94791666666667%;
top: 33px;

background: rgba(138, 222, 155, 0.2);

}

#rectangle4{

position: absolute;
width: 15.312500000000002%;
height: 35.092592592592595%;
left: 3.125%;
top: 613px;
z-index: -2;
background: rgba(138, 222, 155, 0.2);

}

#rectangle5{

position: absolute;
width: 11.197916666666668%;
height: 25.64814814814815%;
left: 34.166666666666664%;
top: 613px;
z-index: -2;
background: rgba(138, 222, 155, 0.2);

}

#rectangle6{

position: absolute;
width: 11.979166666666668%;
height: 27.500000000000004%;
left: 72.96875%;
top: 572px;
z-index: -2;
background: rgba(138, 222, 155, 0.2);

} */
#try4{
    display: none;
}
.main-nav2{
    display: none;
}
#rectangle1{
    position:relative;
    width: 17.552083333333332%;
    height: 27rem;/* 40.09259259259259% of 1080px */
    left: 0%;
    top: 2rem;
    z-index: -2;
    background: rgba(138, 222, 155, 0.2);
    margin: 0px;
}

#rectangle2{
    position: relative;
    width: 11.197916666666668%;
    height: 18rem; /* 25.64814814814815% of 1080px */
    left: 60%;
    top: -15rem;
    z-index: -2;
    background: rgba(138, 222, 155, 0.2);
}

#rectangle3{
    z-index: -2;
    position: relative;
    width: 15.102083333333332%;
    height: 27rem; /* 40.27777777777778% of 1080px */
    left: 84.94791666666667%;
    top: -42rem;
    background: rgba(138, 222, 155, 0.2);
}

#rectangle4{
    position: relative;
    width: 15.312500000000002%;
    height: 24rem; /* 35.092592592592595% of 1080px */
    left: 3.125%;
    top: -28rem;
    z-index: -2;
    background: rgba(138, 222, 155, 0.2);
}

#rectangle5{
    position: relative;
    width: 11.197916666666668%;
    height: 17.5rem; /* 25.64814814814815% of 1080px */
    left: 34.166666666666664%;
    top: -50rem;
    z-index: -2;
    background: rgba(138, 222, 155, 0.2);
}

#rectangle6{
    position: relative;
    width: 11.979166666666668%;
    height: 18.5rem; /* 27.500000000000004% of 1080px */
    left: 72.96875%;
    top: -70rem;
    z-index: -2;
    background: rgba(138, 222, 155, 0.2);
}
.fa-bars{
    display: none;
}

#rectangle7{
    position: relative;
    width: 46.041666666666664%;
    background: #D2F3DE;
    border-radius: 12px;

}
.container10{
    padding-top: 11.125rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15.625rem;
}
#xyz{
z-index: 100;
margin: 0px;
padding: 0px;
position: relative;
width: 100%;
height: 3.75rem;
left: 0px;
top: 0px;
z-index: -1;

background: rgba(1, 175, 87, 0.4);
backdrop-filter: blur(32px);
}


nav{
    z-index:100;
    display:flex;
    padding: 0% 0%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 175, 87, 0.4);

    
    
    
    
}

#logo1{
    position: relative;
    padding-left: 1.25rem;
    height: 2.5rem;
}

.main-nav{
    display: flex;
    flex:1 ;
    text-align: right;
    justify-content: flex-end;
    
}
.main-nav ul{
    padding-right: 1.25rem;
    display: flex;
    margin: 1rem;
}
.main-nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    position: relative;
    margin: 0px 1rem;
}
#li3{
    list-style: none;
    padding: 0.5rem 1rem;
    position: relative;
    background: #01AF57;
    border-radius: 7px;

}
.main-nav ul li a{
    color: #1F2420;
    text-decoration: none;
}
#try{
    color: #F6FFFA;
    background: #01AF57;
    border-radius: 1.25rem;
    
}

/* .container1{
    
    width: 50rem;
     height: 80%; 
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
    margin: auto;
    margin-top: 24.5rem;
    margin-bottom: 27.063rem;
} */

#box1{
    /* Now sell your product hassle free in a day with Unhasell */
margin-top: 24.5rem;
width: 49.375rem;
/* height: 207px; */

font-family: 'Helvetica Neue Medium Extended';
font-style: normal;
font-weight: 500;
font-size: 3.5rem;

display: flex;
align-items: center;
text-align: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
color: #395157;

flex: none;
order: 0;
flex-grow: 0;

}

#box2{
    /* Sell your product at your door step and our team will pick up within 24hrs at best price */

width: 49.375rem;
/* height: 90px; */
margin-bottom: 27rem;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 2.25rem;
/* line-height: 45px; */
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #4D5B50;
margin-left: auto;
margin-right: auto;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.container2
{
    position: relative;
    /* left: 60%; */
    width: 35%;
    /* height: 56.2037037037037%; */
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 3.75rem;
}
/* Remember to add font */
#box3,#box4,#box5,#box6,#box10 {
    flex-grow: 1;
    font-size: 1.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(1, 175, 87);
    overflow-wrap: break-word;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0.625rem;
    border-radius: 8px;
    padding: 1.25rem 13px 1.25rem 1.75rem;

}

#box4{
    color: #F6FFFA ;
    background: rgba(31, 36, 32, 0.9);

} 


.container3
{   
    position: relative;
    width: 20%;
    height: auto;
    background: #01AF57;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container3 p{
    transform: rotate(-90deg);
    color: #F6FFFA;
    font-family: Arial, Helvetica, sans-serif;
font-size: 4.69rem;
}
.container11{
    display: block;
    position: relative;
    width: 80%;
    padding-bottom: 6.06rem;
}
/* #rectangle8
{
position: relative;
width: 18.75%;
height: 100%;
left: 0px;
top: 0px; 


background: #01AF57;

}*/
.container311
{
    display: flex;
    position: relative;
    width: 100%;
}
/* #testi
{
position: relative;
padding-top: 240px;
padding-bottom: 240px;
transform: rotate(-90deg);
font-family: Arial, Helvetica, sans-serif;
font-size: 75px;
color: #F6FFFA;
text-align: center;
max-width: 20%;

} */

#box7
{
padding-top: 6.06rem;
position: relative;
font-family: 'Helvetica Neue Medium Extended';
font-style: normal;
font-weight: 500;
font-size: 3.25rem;
line-height: 3.875rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
color: #395157;
}

#box8
{
    
    position: relative;
    height: auto;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #677476;
}
.container12
{
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 6.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
 #rev1,#rev2,#rev3,#rev4
{
    
position: relative;
margin: 1.875rem;
padding: 1.875rem ;
} 
#q1,#q2,#q3,#q4
{
    display: flex;
}
.quote{
    display: flex;
    
}
#qq1,#qq2,#qq3,#qq4
{
    transform: translate(-4rem,-45%);
    color:#01AF57;
    z-index: 2;
    position: absolute;
    width: 0px;
}
#qq1,#qq3
{
    position: relative;
    /* right: -240px;
    top: 10px; */
}
#qq2,#qq4
{
    position: relative;
    /* top: 10px;
    right: -70px; */
}
/*
#rev2
{
    
    position: absolute;
    width: 25.416666666666664%;
    height: 22.407407407407405%;
    left:62.864583333333336%;
    top:28.240740740740737% ;

}

#rev3
{
position: absolute;
width:25.416666666666664% ;
height: 22.407407407407405%;
left: 32.864583333333336%;
top: 57.870370370370374%;
}

#rev4
{
    position: absolute;
    width: 25.416666666666664%;
    height: 22.407407407407405%;
    left:62.864583333333336%;
    top:57.870370370370374% ;
}*/

#rev1,#rev2,#rev3,#rev4
{
    display: grid;
    /* display: none; */
    grid-template-columns:80fr 358fr ;
    grid-template-rows: 6fr 1fr 1fr;
    background: rgba(31, 36, 32, 0.9);
    /* padding-top: 20px; */
    border-radius: 12px;
    /* padding-right: 10px; */
    font-size: 1rem;
    color: #F6FFFA;
    /* padding-bottom: 10px; */
    flex-grow: 1;

}
/* #rev1,#rev3
{
    margin-left: 200px;
}

#rev2,#rev4{
    margin-right: 200px;
} */
.nikhil
{
    align-self: flex-end;
    color: #01AF57;
    font-size: 1.25rem;
}
.produ
{
    color:#4D5B50;
}
.pfp
{
    position: relative;
    align-self: flex-start;
    width: 80%;
   
    max-width: 6rem;
    min-width: 3rem;
    padding-right: 1rem;
    /* padding-right: 20px; */
}

#rectangle9
{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    width: 6.666666666666667%;
    height: 12px;
    margin-top: 64px;
    background: #D2F3DE;
    border-radius: 30px;
    min-width: 5.5rem;

}

#rectangle10
{
    position: relative;
width: 35%;

background: #01AF57;
border-radius: 30px;
}

.container5
{   
    display: none;
    position: relative;
    width: 100%;
    display: flex;

}
.cont5-text{
    width: 50%;
    position: relative;
}


#faq
{
    position: relative;
    margin-top: 25.938rem;
    left: 22%;
font-family: 'Helvetica Neue Medium Extended';
font-style: normal;
font-weight: 500;
font-size: 3.625rem;
display: flex;
align-items: center;
text-align: center;

color: #395157;



flex: none;
order: 0;
flex-grow: 0;
}

#faq2
{
    position: relative;
    left: 22%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.19rem;
    display: flex;
    align-items: center;
    max-width: 60%;
    color: #000000;
    

}

/* .container6
{
    position: absolute;
    left: 50.83333333333333%;
    top:24.25925925925926%;
    width: 38.072916666666664%;
    height: 43.7037037037037%;
    display: flex;
    flex-direction: column;
    background: #01AF57;
    justify-content: center;
    flex-grow: 1;
    border-radius: 10px;
    flex-wrap: wrap;
} */

#ques1,#ques2,#ques3,#ques4
{
    flex-grow: 1;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #01AF57;
    padding: 1.875rem;
    overflow-wrap:break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0.5em;
    border-radius: 10px;
    padding-right: 2.5rem;
    padding-left: 2rem;
    margin-right: 15%;
}

.container6
{
    position: relative;
    width: 50%;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16.375rem;
    margin-bottom: 21.625rem;
}
#ques1 div, #ques2 div, #ques3 div, #ques4 div
{
    background: #10C067;
    border-radius: 20px;
    margin: 0.625rem;
}
.icon1
{
    width: 1.75rem;
    padding-top: 6px;
    margin: 6px;

}


.container7,.container72
{
    position: relative;
    background: #1F2420;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container72
{
    display: none;
}
.row1{
    margin-top: 3rem;
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 1%;
    justify-content: center;
    align-items: center;
}
.abc{
    display: flex;
    justify-content: center;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    /* width: 56px;
    margin-right: 15px; */
    border-radius: 50px;
    background: #344137;
    margin: 0.625rem;
    padding: 0.625rem;
    /* margin-top: 5px;
    margin-bottom: 5px ; */

}
.def{
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #F6FFFA;
}
#logo2{
    width: 3rem;
}
.contact{
    align-self: center;
}
.row1 ul{
    list-style-type: none;
}
.row2{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-top: 3rem;
    align-self: flex-start;
    
}
.row3{
    width: 30%;
    margin-top: 3rem;
    align-self: flex-start;
}
#logo2{
    width: 80%;
}
.hasell
{
    display: flex;
    margin-right: 1.875rem;
}
#sell
{
    color: white;
    font-size: 3rem;
}
.social
{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
}
.ijk
{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 50px;
    background: #344137;
}

.row3{
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}
.umm{
    display: flex;
    justify-content: center;
}
#abo{
    color: #8FA898;
    font-size: 1.5rem;
}
#lor{
    margin-top: 1rem;
    color: #fff;
    font-size: 1rem;
}

/* .footer
{
    display: none;
     background: #1F2420;
     width: 100%;
    
}
.row{
    display: flex;
    flex: wrap;
    justify-content: space-around;
}
ul{
    list-style: none;
}
.footer-col{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#unh
{
    position: relative;
    left: 7%;
    display: flex;
    justify-content: center;
    flex-grow: 0;
}
#logo2
{
    width: 20%;
    justify-self: flex-end;
    flex-grow: 0;
}
#sell{
    flex-grow: 1;
    display: flex;
    color: #F6FFFA;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 32px;
}

.social
{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

} */


@media(max-width:1920px)
{
    #rectangle1{
        position: absolute;
        width: 17.552083333333332%;
        height: 432.9722222222222px; /* 40.09259259259259% of 1080px */
        left: 0%;
        top: 27px;
        z-index: -2;
        background: rgba(138, 222, 155, 0.2);
    }
    
    #rectangle2{
        position: absolute;
        width: 11.197916666666668%;
        height: 277.77777777777777px; /* 25.64814814814815% of 1080px */
        left: 62.291666666666664%;
        top: 157px;
        z-index: -2;
        background: rgba(138, 222, 155, 0.2);
    }
    
    #rectangle3{
        z-index: -2;
        position: absolute;
        width: 15.102083333333332%;
        height: 435.00000000000006px; /* 40.27777777777778% of 1080px */
        left: 84.94791666666667%;
        top: 33px;
        background: rgba(138, 222, 155, 0.2);
    }
    
    #rectangle4{
        position: absolute;
        width: 15.312500000000002%;
        height: 378.00000000000006px; /* 35.092592592592595% of 1080px */
        left: 3.125%;
        top: 613px;
        z-index: -2;
        background: rgba(138, 222, 155, 0.2);
    }
    
    #rectangle5{
        position: absolute;
        width: 11.197916666666668%;
        height: 277.77777777777777px; /* 25.64814814814815% of 1080px */
        left: 34.166666666666664%;
        top: 613px;
        z-index: -2;
        background: rgba(138, 222, 155, 0.2);
    }
    
    #rectangle6{
        position: absolute;
        width: 11.979166666666668%;
        height: 297.00000000000006px; /* 27.500000000000004% of 1080px */
        left: 72.96875%;
        top: 572px;
        z-index: -2;
        background: rgba(138, 222, 155, 0.2);
    }
    
}

@media (max-width:1250px)
{
    .container12{
        margin-left: 4%;
        margin-right: 4%;
    }
    #box3,#box4,#box5,#box6,#box10 {
        font-size: 1.25rem;
}
#rev1, #rev2, #rev3, #rev4 {
    font-size: 0.8rem;
}
#ques1{
    font-size: 1.5rem;
}
#qq1,#qq2,#qq3,#qq4{
    transform: translate(-3.5rem,-40%);
}
/* #rev1,#rev3
{
    margin-left: 60px;
}
#rev2,#rev4
{
    margin-right: 60px; */
}
/* #ques1, #ques2, #ques3, #ques4 {
     transform: translate(-80%,-80%); 
} */
/* #qq1,#qq3
{
    right: -100px;
} */


@media(max-width:870px)
{   body{
    display: block;
}

    .container7{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: flex-end;
        
    }
    .main-nav2{
        width: 100%;
        margin-left: auto;
        display: flex;

        position: absolute;
        justify-content: flex-end;
        /* padding-right: 1.5rem; */
    }
    .main-nav2 ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 1.5rem ;
        background-color: #01AF57;
        margin-top: 0%;
        border-radius: 20px 0px 0px 20px;
    }
    .main-nav2 ul li a{
        text-decoration: none;
        color: #000000;
        font-size: 1.25rem;

    }
    .main-nav{
        display: none;
        flex-direction: column;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px;
        background: #01AF57;
        z-index: 10;
    }
    #li3{
        color: #000000;
    }
    .li4{
        display: flex;
        
    }
    #li4{
        list-style: none;
    }
    #try4{
        text-decoration: none;
        display: block;
        list-style: none;
        padding: 0.5rem 1rem;
        position: relative;
        background: #01AF57;
        border-radius: 7px;
            width: auto;
            color: #F6FFFA;
    }
    
    #logo1{
        margin-right: auto;
    }
    #bars{
        padding-top: 1rem ;
        /* margin: auto; */
        width: auto;
        display: flex;
        justify-content: flex-end;
        margin-right: 1.5rem;
        padding-bottom: 1rem;
        margin-left: 1.5rem;
    }
    #try4{

    }
    #rectangle1{
        width: 28.974358974358978%;
        height: 12.5rem;

    }
    #rectangle2{
        width: 14.102564102564102%;
        height: 4.4375rem;
        left: 50%;
        top: 14.0625rem;
    }
    #rectangle3{
        width: 15%;
        height: 10.3125rem;
    }

    #rectangle4{
        width: 23.846153846153847%;
        height: 7.5rem;
        top: 31.25rem;
    }
    #rectangle5{
        width: 14.102564102564102%;
        height: 4.4375rem;
        top: 25rem;

    }
    #rectangle6{
        width: 20%;
        height: 5.625rem;
        top: 31.25rem;
    }

    .container1{
        margin-top: 13.75rem;
        margin-bottom: 18.75rem ;
    }
    #box1{
        font-size: 1.54rem;
        margin-top: 5rem;
        width: 91%;
    }
    #box2{
        font-size: 1rem;
        width: 91%;
        margin-bottom: 18rem;
    }
    .container10{
        padding-top: 4.5rem;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3.125rem;
    }
    #rectangle7{
        height: 18.75rem;
        width: 91%;
        margin-bottom: 2.25rem;
    }
    .container2{
        width: 91%;
        margin: auto;
    }
    .container311{
        flex-direction: column;
    }
    .container3{
        background: #fff;
        width: 91%;
        margin: auto;
    }
    .container3 p{
        color: #000000;
        transform: rotate(0deg);
        font-size: 2.5rem;
    }
    .container11{
        width: 91%;
        margin: auto;
    }
    #box7{
        padding-top: 0.556rem;
        margin: auto;
        font-size: 1.5rem;
    }
    #box8{
        font-size: 1.375rem;
        margin: auto;
    }
    #q2,#q4{
        display: none;
    }
    /* #qq1,#qq3{
        right: -40;
    } */
    #rev1,#rev3{
        margin: auto;
        margin-top: 1.5625rem;
        margin-bottom: 1.5625rem;
        font-size: 0.75rem;
    }
    .container12{
        margin-left: 10%;
        margin-right: 10%;
        grid-template-columns: 1fr;
        padding-top: 4.375rem;
    }
    #rectangle9{
        width: 30%;
        margin: auto;
        margin-top: 4rem;
    }
    .container5{
        flex-direction: column;
    }
    .cont5-text{
        width: 100%;
    }
    #faq{
        margin-top: 0px; ;
        width: 91%;
        font-size: 1.875rem;
        margin: auto;
        left: 0px;
        justify-content: center;
    }
    #faq2{
        max-width: 91%;
        font-size: 1.25rem;
        margin: auto;
        justify-content: center;
        text-align: center;
        left: 0px;
    }
    .container6{
        padding-top: 1.25rem;
        width: 91%;
        margin: auto;
        margin-bottom: 3.125rem;
    }
    #ques1,#ques2,#ques3,#ques4{
        margin-right: 0px;
        font-size: 1.125rem;
        padding: 0.556rem;
        margin: 0.5rem

    }
    .container72{
        position: relative;
        background: #1F2420;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .row1{
        padding-top: 1.25rem;
        width: auto;
        margin: 1.25rem;
        font-size: 1rem;
    }
    .row2{
        padding-top: 1.875rem;
        width: 18.75rem;
        margin-left: auto;
        margin-right: auto;
    }
    .row3{
        padding-top: 2.5rem;
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #lor
    {
        font-size: 1rem;
    }
    #qq1,#qq2,#qq3,#qq4{
    transform: translate(-3.5rem,-40%);
    }
}
/*
@media (max-width:1050px)
{
    #box1{
         Now sell your product hassle free in a day with Unhasell */
    
    /*width: 600px;
    height: 207px;
    
    font-family: 'Helvetica Neue Medium Extended';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;}

    #box2{
        Sell your product at your door step and our team will pick up within 24hrs at best price */
    
    /*width: 600px;
    height: 200px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;}

    #rev4,#rev1,#rev2,#rev3{
        font-size: 16px;
    }

    #faq{
        font-size: 40px;
        width: 40px;
    }

    #faq2{
        font-size :20px;
    }

}*/


/* @media(max-height:700px)
{
    
}  */

