html,body{
    height: 100%;
    margin: 0px;
    margin-top: 3px;
    width:100%

}
#rectangle1{
position: absolute;
width: 17.552083333333332%;
height: 40.09259259259259%;
left: 0%;
top: 2.4074074074074074%;
z-index: -2;
background: rgba(138, 222, 155, 0.2);
}

#rectangle2{

position: absolute;
width: 11.197916666666668%;
height: 25.64814814814815%;
left: 62.291666666666664%;
top: 14.537037037037038%;
z-index: -2;
background: rgba(138, 222, 155, 0.2);

}

#rectangle3{
z-index: -2;
position: absolute;
width: 15.102083333333332%;
height: 40.27777777777778%;
left: 84.94791666666667%;
top: 3.0555555555555554%;

background: rgba(138, 222, 155, 0.2);

}

#rectangle4{

position: absolute;
width: 15.312500000000002%;
height: 35.092592592592595%;
left: 3.125%;
top: 56.75925925925925%;
z-index: -2;
background: rgba(138, 222, 155, 0.2);

}

#rectangle5{

position: absolute;
width: 11.197916666666668%;
height: 25.64814814814815%;
left: 34.166666666666664%;
top: 56.75925925925925%;
z-index: -2;
background: rgba(138, 222, 155, 0.2);

}

#rectangle6{

position: absolute;
width: 11.979166666666668%;
height: 27.500000000000004%;
left: 72.96875%;
top: 52.96296296296297%;
z-index: -2;
background: rgba(138, 222, 155, 0.2);

}
.fa-bars{
    display: none;
}

#rectangle7{

position: absolute;
width: 46.041666666666664%;
height: 56.2037037037037%;
left: 11.09375%;
top: 115.833333333333332%;
z-index: -2;
background: #D2F3DE;
border-radius: 12px;

}

#xyz{
z-index: 100;

position: absolute;
width: 100%;
height: 60px;
left: 0px;
top: 0px;
z-index: -1;

background: rgba(1, 175, 87, 0.4);
backdrop-filter: blur(32px);
}


nav{
    z-index:100;
    display:flex;
    padding: 0% 0%;
    justify-content: space-between;
    align-items: center;
    
    
    
    
}

#logo1{
    position: absolute;
    padding-left: 20px;
    height: 40px;
    top: 10px;
}

.main-nav{
    flex:1 ;
    text-align: right;
    
}
.main-nav ul{
    padding-right: 20px;
}
.main-nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    position: relative;
}
#li3{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    background: #01AF57;

}
.main-nav ul li a{
    color: #1F2420;
    text-decoration: none;
}
#try{
    color: #F6FFFA;
    background: #01AF57;
    border-radius: 20px;
    
}

.container1{
    width: 100%;
    /* height: 80%; */
    height: 864;
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items:center;
}

#box1{
    /* Now sell your product hassle free in a day with Unhasell */

width: 790px;
height: 207px;

font-family: 'Helvetica Neue Medium Extended';
font-style: normal;
font-weight: 500;
font-size: 58px;

display: flex;
align-items: center;
text-align: center;
justify-content: center;

color: #395157;

flex: none;
order: 0;
flex-grow: 0;

}

#box2{
    /* Sell your product at your door step and our team will pick up within 24hrs at best price */

width: 790px;
height: 90px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 45px;
display: flex;
align-items: center;
text-align: center;

color: #4D5B50;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.container2
{
    top:115.833333333333332%;
    position: absolute;
    left: 60%;
    width: 35%;
    /* height:56.2037037037037%; */
    height: 607;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    
    justify-content: center;
}
/* Remember to add font */
#box3,#box4,#box5,#box6 {
    flex-grow: 1;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #01AF57;
    padding: 13px;
    overflow-wrap:break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0.5em;
    border-radius: 8px;

}

#box4{
    color: #F6FFFA ;
    background: rgba(31, 36, 32, 0.9);

} 


.container3
{   
    position: absolute;
    top: 200%;
    width: 100%;
    height: 100%;

}

#rectangle8
{
position: relative;
width: 18.75%;
height: 100%;
left: 0px;
top: 0px;


background: #01AF57;

}

#testi
{
position: relative;
transform: rotate(-90deg);
top: 50%;
left: 0px;
font-family: Arial, Helvetica, sans-serif;
font-size: 75px;
color: #F6FFFA;

}

#box7
{
    left: 20%;
    width: 80%;
    height: 5.7407407407407405;
    position: absolute;
    top: 8.981481481481483%;
    font-family: 'Helvetica Neue Medium Extended';
font-style: normal;
font-weight: 500;
font-size: 52px;
line-height: 62px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

color: #395157;

}

#box8
{
    left: 20%;
    width: 80%;
    position: absolute;
    height: auto;
    top: 15.833333333333332%;
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;

color: #677476;
}

#rev1
{
position: absolute;
width:25.416666666666664% ;
height: 22.407407407407405%;
left: 32.864583333333336%;
top: 28.240740740740737%;
}

#rev2
{
    position: absolute;
    width: 25.416666666666664%;
    height: 22.407407407407405%;
    left:62.864583333333336%;
    top:28.240740740740737% ;

}

#rev3
{
position: absolute;
width:25.416666666666664% ;
height: 22.407407407407405%;
left: 32.864583333333336%;
top: 57.870370370370374%;
}

#rev4
{
    position: absolute;
    width: 25.416666666666664%;
    height: 22.407407407407405%;
    left:62.864583333333336%;
    top:57.870370370370374% ;
}

#rev1,#rev2,#rev3,#rev4
{
    display: grid;
    grid-template-columns:130fr 358fr ;
    grid-template-rows: 6fr 1fr 1fr;
    background: rgba(31, 36, 32, 0.9);
    padding-top: 20px;
    border-radius: 12px;
    padding-right: 10px;
    font-size: 18px;
    color: #F6FFFA;
    padding-bottom: 10px;

}
.nikhil
{
    align-self: flex-end;
    color: #01AF57;
    font-size: 20px;
}
.produ
{
    color:#4D5B50;
}
.pfp
{
    justify-self: center;
    width: 80%;
    max-width: 100px;
}

#rectangle9
{
    position: absolute;
width: 6.666666666666667%;
height: 12px;
left: 57.6%;
top: 86.20370370370371%;

background: #D2F3DE;
border-radius: 30px;
}

#rectangle10
{
    position: absolute;
width: 1.875%;
height: 12px;
left: 57.6%;
top: 86.20370370370371%;

background: #01AF57;
border-radius: 30px;
}

.container5
{   
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;

}

#faq
{
    left: 11.0938%;
    top: 38.425925925925924%;
    position: absolute;
    width: 9.0625%;
height: 6.388888888888888%;

font-family: 'Helvetica Neue Medium Extended';
font-style: normal;
font-weight: 500;
font-size: 58px;
line-height: 6.388888888888888%;
display: flex;
align-items: center;
text-align: center;

color: #395157;



flex: none;
order: 0;
flex-grow: 0;
}

#faq2
{
    position: relative;
    left: 11.0938%;
    top: 47.40740740740741%;
    width: 30.104166666666664%;
    height: 6.481481481481481%;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
    display: flex;
    align-items: center;
    
    color: #000000;
    
    
    
    flex: none;
    order: 1;
    flex-grow: 0;  
}

/* .container6
{
    position: absolute;
    left: 50.83333333333333%;
    top:24.25925925925926%;
    width: 38.072916666666664%;
    height: 43.7037037037037%;
    display: flex;
    flex-direction: column;
    background: #01AF57;
    justify-content: center;
    flex-grow: 1;
    border-radius: 10px;
    flex-wrap: wrap;
} */

#ques1,#ques2,#ques3,#ques4
{
    flex-grow: 1;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #01AF57;
    padding: 13px;
    overflow-wrap:break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0.5em;
    border-radius: 10px;
}

.container6
{
    top:24.25925925925926%;
    position: absolute;
    left: 50.83333333333333%;
    width: 38.072916666666664%;
    height:43.7037037037037%;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
}

.icon1
{
    width:10%
}

.container7
{
    position: absolute;
    top: 200%;
    background: #1F2420;
}
.footer
{
     background: #1F2420;
     width: 100%;
    
}
.row{
    display: flex;
    flex: wrap;
    justify-content: space-around;
}
ul{
    list-style: none;
}
.footer-col{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#unh
{
    position: relative;
    left: 7%;
    display: flex;
    justify-content: center;
    flex-grow: 0;
}
#logo2
{
    width: 20%;
    justify-self: flex-end;
    flex-grow: 0;
}
#sell{
    flex-grow: 1;
    display: flex;
    color: #F6FFFA;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 32px;
}

.social
{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}




@media (max-width:1300px)
{
    .container2
{
    top:115.833333333333332%;
    position: absolute;
    left: 60%;
    width: 35%;
    height:56.2037037037037%;}

    #box3,#box4,#box5,#box6 {
        flex-grow: 1;
        font-size: 18px;}
    #faq2
    {
        font-size: 30px;
    }
}

@media (max-width:1050px)
{
    #box1{
        /* Now sell your product hassle free in a day with Unhasell */
    
    width: 600px;
    height: 207px;
    
    font-family: 'Helvetica Neue Medium Extended';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;}

    #box2{
        /* Sell your product at your door step and our team will pick up within 24hrs at best price */
    
    width: 600px;
    height: 200px;
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;}

    #rev4,#rev1,#rev2,#rev3{
        font-size: 16px;
    }

    #faq{
        font-size: 40px;
        width: 40px;
    }

    #faq2{
        font-size :20px;
    }

}

@media (max-width:768px)
{

    #body{
        height: 800px;
    }
    .container1{
        height: 800px;
    }
    #rectangle1{
        width: 28.974358974358978%;
        height: 200px;

    }
    #rectangle2{
        width: 14.102564102564102%;
        height: 71px;
        left: 50%;
        top: 225px;
    }
    #rectangle3{
        width: 15%;
        height: 165px;
    }

    #rectangle4{
        width: 23.846153846153847%;
        height: 119px;
        top: 500px;
    }
    #rectangle5{
        width: 14.102564102564102%;
        height: 71px;
        top: 400px;

    }
    #rectangle6{
        width: 20%;
        height: 180px;
        top: 500px;
    }

    #rectangle7{
        top: 750px;
        height: 300px;
        width: 90%;
        left: 5%;
    }

    .nav{
        display: flex;
        justify-content: flex-end;
    
    }
    .main-nav{
        flex:0;
        display: flex;
        flex-direction: column;
        /* transform: translateY(-100%); */
        position:relative;
        top:40px;
    }
    .fa-bars:hover{
        transform: translateY(0%);
        cursor: pointer;
    }
    .main-nav ul li{
        background: #01AF57;
        text-align: center;
        color: black;
        display: none;
        z-index: 100;
    }
    #try{
        color: black;
        display: none;
    }
    .main-nav ul{
        margin-top: 14px;}

    .fa-bars{
        display: flex ;
        position: absolute;
        right: 30px;
        top: 10px;
        z-index: 100;
    }
    #bars:hover{
        cursor: pointer;

    }
    #bars:hover .main-nav ul li{
        display: inline-block;
    }
    #bars:hover .main-nav ul li{
        display: inline-block;
    }

    .container1{
        position: absolute;
        top: 0px;
    }
    #box1{
        font-size: 40px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    #box2{
        font-size: 30px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .container2{
        position: absolute;
        top: 1100px;
        width: 90%;
        left:5%;
        height: 500px;
    }

    .container3
    {
        position: absolute;
        top: 1700px;
        width: 100%;
        height: 700px;
    }
    #rectangle8
{
position: relative;
width: 100%;
left: 0px;
top: 0px;
background: #fff;
height: 500px;

}

    #testi{
        color: #395157;
        position: relative;
transform: rotate(0deg);
min-width: 60%;
width: 80%;
top: 0px;
left: 10%;
right: 10%;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 60px;
    }

    #box7{
        min-width: 60%;
        width: auto;
        left: 5%;
        right: 5%;
        font-size: 35px;
        top:60px;
    }

    #box8{
        min-width: 60%;
        width: auto;
        left: 5%;
        right: 5%;
    }

    #rev1,#rev2,#rev3,#rev4{
        width:auto;
        left: 5%;
        right: 5%;
        height: 150px;
    }
    #rev1{
        top: 250px;
    }
    #rev2{
        top: 450px;
    }
    #rev3,#rev4{
        display: none;
    }
    #rectangle9
    {
        width: 20%;
        left: 40%;
        top: 650px;
    }
    #rectangle10
    {
        left: 40%;
        width: 6%;
        top: 650px;
    }
    #faq
    {
        top: 0px;
        width: 60%;
        left: 20%;
        justify-content: center;
    }
    #faq2
    {
        width: 80%;
        left: 10%;
        top: 70px;
        text-align: center;
    }

    .container6
    {
        width: 90%;
        left: 5%;
        flex-direction: column;
        height: 400px;
    }
}






@media (max-width:400px)
{
    #box1{
        font-size: 35px;
    }
    #box2{
        font-size: 25px;
    }

    #testi{
        font-size: 40px;
    }
    #box7{
        top: 40px;
        font-size: 25px;
    }
    #box8{
        top:100px;
        font-size: 25px;
    }
    #rev1{
        top: 200px;
        font-size: 14px;
    }
    #rev2{
        top: 400px;
        font-size: 14px;
    }
    }
/* @media(max-height:700px)
{
    
}  */

@media (max-width:768px)
{

    #body{
        height: 800px;
    }
    .container1{
        height: 800px;
    }
    #rectangle1{
        width: 28.974358974358978%;
        height: 200px;

    }
    #rectangle2{
        width: 14.102564102564102%;
        height: 71px;
        left: 50%;
        top: 225px;
    }
    #rectangle3{
        width: 15%;
        height: 165px;
    }

    #rectangle4{
        width: 23.846153846153847%;
        height: 119px;
        top: 500px;
    }
    #rectangle5{
        width: 14.102564102564102%;
        height: 71px;
        top: 400px;

    }
    #rectangle6{
        width: 20%;
        height: 180px;
        top: 500px;
    }

    #rectangle7{
        top: 750px;
        height: 300px;
        width: 90%;
        left: 5%;
    }

    .nav{
        display: flex;
        justify-content: flex-end;
    
    }
    .main-nav{
        flex:0;
        display: flex;
        flex-direction: column;
        /* transform: translateY(-100%); */
        /*position:relative;*/
        top:40px;
    }
    .fa-bars:hover{
        transform: translateY(0%);
        cursor: pointer;
    }
    .main-nav ul li{
        background: #01AF57;
        text-align: center;
        color: black;
        display: none;
        z-index: 100;
    }
    #try{
        color: black;
        display: none;
    }
    .main-nav ul{
        margin-top: 14px;}

    .fa-bars{
        display: flex ;
        position: absolute;
        right: 30px;
        top: 10px;
        z-index: 100;
    }
    #bars:hover{
        cursor: pointer;

    }
    #bars:hover .main-nav ul li{
        display: inline-block;
    }
    #bars:hover .main-nav ul li{
        display: inline-block;
    }

    .container1{
        position: absolute;
        top: 0px;
    }
    #box1{
        font-size: 40px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    #box2{
        font-size: 30px;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .container2{
        position: absolute;
        top: 1100px;
        width: 90%;
        left:5%;
        height: 500px;
    }

    .container3
    {
        position: absolute;
        top: 1700px;
        width: 100%;
        height: 700px;
    }
    #rectangle8
{
position: relative;
width: 100%;
left: 0px;
top: 0px;
background: #fff;
height: 500px;

}

    #testi{
        color: #395157;
        position: relative;
transform: rotate(0deg);
min-width: 60%;
width: 80%;
top: 0px;
left: 10%;
right: 10%;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 60px;
    }

    #box7{
        min-width: 60%;
        width: auto;
        left: 5%;
        right: 5%;
        font-size: 35px;
        top:60px;
    }

    #box8{
        min-width: 60%;
        width: auto;
        left: 5%;
        right: 5%;
    }

    #rev1,#rev2,#rev3,#rev4{
        width:auto;
        left: 5%;
        right: 5%;
        height: 150px;
    }
    #rev1{
        top: 250px;
    }
    #rev2{
        top: 450px;
    }
    #rev3,#rev4{
        display: none;
    }
    #rectangle9
    {
        width: 20%;
        left: 40%;
        top: 650px;
    }
    #rectangle10
    {
        left: 40%;
        width: 6%;
        top: 650px;
    }
    #faq
    {
        top: 0px;
        width: 60%;
        left: 20%;
        justify-content: center;
    }
    #faq2
    {
        width: 80%;
        left: 10%;
        top: 70px;
        text-align: center;
    }

    .container6
    {
        width: 90%;
        left: 5%;
        flex-direction: column;
        height: 400px;
    }
}






@media (max-width:400px)
{
    #box1{
        font-size: 35px;
    }
    #box2{
        font-size: 25px;
    }

    #testi{
        font-size: 40px;
    }
    #box7{
        top: 40px;
        font-size: 25px;
    }
    #box8{
        top:100px;
        font-size: 25px;
    }
    #rev1{
        top: 200px;
        font-size: 14px;
    }
    #rev2{
        top: 400px;
        font-size: 14px;
    }
    } 

